body {
	background: linear-gradient(to right, #0099ff 0%, #ccccff 100%);
}

.calculator {
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	max-width: 485px;
	max-height: 652px;
}

.key {
	margin: 0;
	padding: 30px;
	background-color: #D3D3D3;
}

.key:hover {
	-webkit-box-shadow: -2px 19px 24px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: -2px 19px 24px 0px rgba(0,0,0,0.3);
	box-shadow: -2px 19px 24px 0px rgba(0,0,0,0.3);
	transform: translate(0px,-8px);
}

h1 {
	margin-top: auto;
	margin-bottom: auto;
}

input {
	font-size: 4em;
	border: 0;
}

.highlight {
	background: orange;
	transition: background-color 2s;
}

.special {
	background-color: grey;
}

.numpad {
	background-color: #D3D3D3;
}